# Unity .gitignore - Track only .cs files
# This will ignore everything except .cs files

# Ignore everything by default
*

# But track .cs files
!*.cs

# Also track directories so Git can traverse them to find .cs files
!*/

# Explicitly ignore some common files/folders even if they contain .cs
# (Optional - remove these lines if you want ALL .cs files tracked)
.git/
.vs/
Temp/
temp/
Library/
library/
obj/
Obj/
bin/
Bin/